.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: $white;
	@include adaptiveValue(min-height, 40, 5, $maxWidthContainer, $mobile);
	&._scroll {
		.header__wrapper {
			background-color: rgba(#141414, 0.8);
			@media (any-hover: hover) {
				transition: background-color 0.3s;
				&:hover {
					background-color: rgba(#141414, 0.9);
				}
			}
		}
		.header__container {
			min-height: toRem(50);
			@media (min-width: toEm($tablet)) {
				min-height: toRem(70);
			}
		}
	}
	// .header__wrapper
	&__wrapper {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 50;
	}
	// .header__container
	&__container {
		transition: min-height 0.3s;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue(min-height, 116, 60, $maxWidthContainer, $mobile);
		padding-top: toRem(10);
		padding-bottom: toRem(10);
		@media (min-width: toEm($mobile)) {
			gap: toRem(20);
		}
		@include adaptiveValue(gap, 100, 20, $mobile, 479.98);
	}
	// .header__logo
	&__logo {
		img {
			max-width: 100%;
		}
		@include adaptiveValue(flex-basis, 97, 70, $maxWidthContainer, $mobile);
		flex-shrink: 0;
		position: relative;
		z-index: 5;
	}
	// .header__body
	&__body {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		@include adaptiveValue(gap, 77, 30, $maxWidthContainer, $mobile);
		@media (max-width: toEm($mobile)) {
			flex-grow: 1;
			justify-content: space-between;
		}
		@media (max-width: toEm($mobileSmall)) {
			justify-content: flex-end;
			flex-grow: 0;
		}
	}
	// .header__phone
	&__phones {
		transition-delay: 1s;
		@media (min-width: toEm($tablet)) {
			position: relative;
			&::after {
				content: "";
				display: block;
				width: toRem(30);
				height: toRem(30);
				background: url("../img/icons/phone.svg") 0 0 / 30px no-repeat;
				position: absolute;
				left: 0;
				top: 50%;
				translate: 0 -50%;
			}
			padding-left: toRem(38);
		}
		@media (min-width: toEm($tablet)) {
			margin-left: toRem(77);
		}
	}
	// .header__phone
	&__phone {
	}
	// .header__btn
	&__btn {
		white-space: nowrap;
		text-align: center;
		@include adaptiveValue(padding-left, 24, 16, $maxWidthContainer, $mobile);
		@include adaptiveValue(padding-right, 24, 16, $maxWidthContainer, $mobile);
		@include adaptiveValue(padding-top, 16, 10, $maxWidthContainer, $mobile);
		@include adaptiveValue(padding-bottom, 16, 10, $maxWidthContainer, $mobile);
		border-radius: toRem(4);
		border: toRem(1) solid $white;
		@media (any-hover: hover) {
			transition:
				border-color 0.3s,
				color 0.3s;
			&:hover {
				color: $blue;
				border-color: $blue;
			}
		}
		transition-delay: 1.2s;
	}
}
.header .header__phones {
	@media (max-width: toEm($mobileSmall)) {
		gap: toRem(30);
		align-items: center;
		font-size: toRem(34);
	}
}
.menu {
	@media (max-width: toEm($mobile)) {
		position: fixed;
		top: 0;
		right: -150%;
		width: 100%;
		height: 100%;
		background-color: $blue;
		padding: toRem(100) toRem(20) toRem(10);
		transition: right 0.3s;
		overflow-y: auto;
		overflow-x: hidden;
		&._active {
			right: 0;
		}
	}
	// .menu__body`
	&__body {
		@media (max-width: toEm($mobileSmall)) {
			margin-bottom: toRem(30);
		}
	}
	// .menu__list
	&__list {
		@media (min-width: toEm($mobile)) {
			display: flex;
			align-items: center;
			@include adaptiveValue(column-gap, 77, 20, $maxWidthContainer, $mobile);
			row-gap: toRem(16);
			flex-wrap: wrap;
		}
	}
	// .menu__item
	&__item {
		@media (min-width: toEm($mobile)) {
			flex-shrink: 0;
		}
		@media (max-width: toEm($mobile)) {
			text-align: center;
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
		&:nth-child(1) {
			transition-delay: 0.4s;
		}
		&:nth-child(2) {
			transition-delay: 0.6s;
		}
		&:nth-child(3) {
			transition-delay: 0.8s;
		}
	}
	// .menu__link
	&__link {
		@media (min-width: toEm($mobile)) {
			font-size: toRem(18);
		}
		font-size: toRem(34);
		@media (any-hover: hover) {
			transition: color 0.3s;
			position: relative;
			&::before {
				content: "";
				display: block;
				width: 100%;
				height: toRem(1);
				background-color: $white;
				transform-origin: right;
				position: absolute;
				bottom: toRem(-4);
				left: 50%;
				transform: translateX(-50%) scaleX(0);
				transition: transform 0.3s;
			}
			&:hover::before {
				transform: translateX(-50%) scaleX(1);
				transform-origin: left;
			}
		}
	}
}
.phones {
	font-size: toRem(18);
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: toRem(4);
	a {
		@media (any-hover: hover) {
			transition: color 0.3s;
			position: relative;
			&::before {
				content: "";
				display: block;
				width: 100%;
				height: toRem(1);
				background-color: $white;
				transform-origin: right;
				position: absolute;

				bottom: toRem(-1);

				left: 50%;
				transform: translate3d(-50%, 0, 0) scaleX(0);
				transition: transform 0.3s;
			}
			&:hover::before {
				transform: translate3d(-50%, 0, 0) scaleX(1);
				transform-origin: left;
			}
		}
	}
}
.menu-icon {
	@media (min-width: toEm($mobile)) {
		display: none;
	}
	display: block;
	width: toRem(38);
	height: toRem(20);
	position: relative;
	z-index: 5;
	span {
		display: block;
		width: 100%;
		height: toRem(1.5);
		background-color: $white;
		position: absolute;
		left: 0;
		transition:
			top 0.3s,
			translate 0.3s,
			bottom 0.3s,
			rotate 0.3s,
			scale 0.3s;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 50%;
			translate: 0 -50%;
		}
		&:nth-child(3) {
			bottom: 0;
		}
	}
	&._active {
		span:nth-child(1) {
			top: 50%;
			translate: 0 -50%;
			rotate: 45deg;
		}
		span:nth-child(2) {
			scale: 0;
		}
		span:nth-child(3) {
			bottom: 50%;
			translate: 0 50%;
			rotate: -45deg;
		}
	}
	// &:focus {
	// 	outline: $gold;
	// }
	// &:focus-visible {
	// 	outline: $gold;
	// }
}
