.select {
	padding-top: toRem(30);
	color: $white;
	position: relative;
	@include adaptiveValue(padding-bottom, 524, 30, $maxWidthLayout, $maxWidthContainer);
	@media (max-width: toEm(1200)) {
		background-color: $hover-black;
	}
	// .select__bgr
	&__bgr {
		@media (min-width: toEm(1200)) {
			display: block;
			position: absolute;
			top: 39%;
			translate: 0 -50%;
			left: 0;
			width: 100%;
			height: toRem(2086);
			img {
				object-fit: contain;
			}
		}
		display: none;
	}
	// .select__container
	&__container {
		position: relative;
		z-index: 5;
	}
	// .select__title
	&__title {
		@include adaptiveValue(font-size, 110, 60, $maxWidthContainer, 320);
		letter-spacing: toRem(3);
		font-weight: 700;
		line-height: 87.5%;
		@media (min-width: toEm(1200)) {
			max-width: toRem(520);
		}
		@media ((max-width: toEm($maxWidthLayout - 1)) and (min-width: toEm(1200))) {
			margin-top: toRem(-100);
		}
	}
	// .select__body
	&__body {
		@media (min-width: toEm(1200)) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media (max-width: toEm(1450)) {
				translate: 0 toRem(-100);
			}
		}
	}
	// .select__img-block
	&__img-block {
		position: relative;
		max-height: toRem(280);
		@media (max-width: toEm(1200)) {
			text-align: center;
			@include adaptiveValue(margin-bottom, 50, 20, $maxWidthContainer, 320);
		}
		img {
			max-width: 100%;
		}
	}
	// .select__car-img
	&__car-img {
		position: relative;
		z-index: 1;
	}
	// .select__img-shadow
	&__img-shadow {
		position: absolute;
		bottom: toRem(20);
		@media (max-width: toEm(600)) {
			bottom: calc(20px - 20 * ((100vw - 320px) / (280)));
		}
		left: 0;
		width: 100%;
	}
	// .select__content
	&__content {
		text-align: center;
		@media (min-width: toEm(1600)) {
			padding-right: toRem(60);
		}
	}
	// .select__subtitle
	&__subtitle {
		@include adaptiveValue(margin-bottom, 32, 10, $maxWidthContainer, $mobile);
		@media (min-width: toEm(1400)) {
			white-space: nowrap;
		}
	}
	// .select__textarea
	&__textarea {
		flex-grow: 1;
		text-align: left;
		textarea {
			height: 100%;
			@media (max-width: toEm($mobileSmall)) {
				min-height: toRem(180);
			}
		}
	}
	// .select__link
	&__link {
		@media (min-width: toEm(1200)) {
			max-width: toRem(320);
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .select__btn
	&__btn {
		color: $color;
		@media (any-hover: hover) {
			transition:
				background-color 0.3s,
				color 0.3s;
			&:hover {
				background-color: $hover-black;
				color: $white;
			}
		}
	}
}
.select-form {
	@media (min-width: toEm(1200)) {
		max-width: toRem(480);
	}
	max-width: toRem(800);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	@media (min-width: toEm($mobileSmall)) {
		align-items: center;
	}
	align-items: stretch;
	row-gap: toRem(24);
	// .select-form__text
	&__text {
		@include adaptiveValue(font-size, 20, 18, $maxWidthContainer, $mobile);
		font-weight: 300;
		line-height: 140%;
	}
	// .select-form__body
	&__body {
		@media (min-width: toEm($mobileSmall)) {
			display: flex;
			gap: toRem(12);
			align-self: stretch;
		}
	}
	// .select-form__inputs
	&__inputs {
		display: flex;
		flex-direction: column;
		gap: toRem(12);
		@media (min-width: toEm(1200)) {
			flex-basis: toRem(234);
		}
		@media (min-width: toEm($mobileSmall)) {
			flex-grow: 1;
		}
		@media (max-width: toEm($mobileSmall)) {
			margin-bottom: toRem(20);
		}
	}
	// .select-form__input
	&__input {
		width: 100%;
		border-radius: 4px;
		border: toRem(2) solid $white;
		@include adaptiveValue(padding-left, 24, 16, $maxWidthContainer, $mobile);
		@include adaptiveValue(padding-right, 24, 16, $maxWidthContainer, $mobile);
		@include adaptiveValue(padding-top, 16, 10, $maxWidthContainer, $mobile);
		@include adaptiveValue(padding-bottom, 16, 10, $maxWidthContainer, $mobile);
		&::placeholder {
			font-size: toRem(14);
			font-weight: 300;
			color: oklch(100% 0 0 / 70%);
			transition: font-size 0.3s;
		}
		&:focus::placeholder {
			font-size: toRem(0);
		}
		&:focus {
			outline: none;
		}
		&:focus-visible {
			outline: none;
			box-shadow: 0 0 toRem(10) $white;
		}
		&._error {
			box-shadow: 0 0 toRem(10) red;
		}
	}
}
.dropdown {
	// .dropdown__btn
	&__btn {
	}
	// .dropdown__list
	&__list {
	}
	// .dropdown__list-item
	&__list-item {
	}
	// .dropdown__input
	&__input {
	}
}
